extends layout
block additional_styles
    link(rel="stylesheet",href="/css/main.css")
block content
    - function getDiffBetweenDates(dateString) {
    - var date1 = new Date();
    - var date2 = new Date(dateString);
    - var timeDiff = Math.abs(date2.getTime() - date1.getTime());
    - var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
    - return (diffDays)
    - }
    include includes/navbar
    include mixins/genGroupField
    .container-fluid(ng-controller="PortfolioCtrl",ng-init="user= #{JSON.stringify(user_info)}; works= #{JSON.stringify(works)}")
        .row
            include includes/notifications
            .col-lg-6.col-md-6.col-sm-7.col-lg-offset-3.col-md-offset-3
                ul.nav.nav-tabs(id="tabs")
                    li.active
                        a(href='#profile',data-toggle="tab") Профиль
                    li
                        a(href='#portfolio',data-toggle="tab") Портфолио
                    li
                        a(href='#stats',data-toggle="tab") Статистика
                    li
                        a(href='#reviews',data-toggle="tab") Отзывы
                .tab-content
                    .well.tab-pane.active(id="profile")
                        form.form-horizontal(ng-submit="submitUser()",name="updateForm.user")
                            fieldset
                                 input.form-control(type="hidden" name="_id",value="{{user._id}}")
                                 +genGroupField('name','Имя','',"user.name")(tag='input')
                                 div(ng-show="isEmpty(updateForm.user.name.$error)",style="color: #F2B1B1") {{updateForm.user.name.$error}}
                                 +genGroupField('login','Логин','',"user.login")(tag='input')
                                 div(ng-show="isEmpty(updateForm.user.login.$error)",style="color: #F2B1B1") {{updateForm.user.login.$error}}
                                 +genGroupField('email','E-mail','',"user.email")(tag='input')
                                 div(ng-show="isEmpty(updateForm.user.email.$error)",style="color: #F2B1B1") {{updateForm.user.email.$error}}
                                 +genGroupField('about','О себе','',"user.about")(tag='textarea')
                                 div(ng-show="isEmpty(updateForm.user.about.$error)",style="color: #F2B1B1") {{updateForm.user.about.$error}}
                                 button(class="btn btn-primary",type="submit") Сохранить
                        p Количество дней на сайте:  #{getDiffBetweenDates(user.created)}
                    .well.tab-pane.fade(id="portfolio")
                        span(id="addwork") Добавить в портфолио
                        i.fa.fa-caret-down
                        form(ng-submit="submitWork()",name="addWork",id="upload", enctype="multipart/form-data")
                            input.form-control(type="text", name="name", placeholder="Название",ng-model="name")
                            div(ng-show="isEmpty(addWork.name.$error)",style="color: #F2B1B1") {{addWork.name.$error}}
                            textarea.form-control(type="text", name="description", placeholder="Описание",ng-model="description")
                            div(ng-show="isEmpty(addWork.description.$error)",style="color: #F2B1B1") {{addWork.description.$error}}
                            input(type="hidden",name="user", value='#{user_info._id}')
                            input.form-control(type="file",name="files",multiple)
                            button.btn.btn-sm.btn-default(type="submit") Добавить
                        .row
                            .col-lg-4(ng-repeat="work in works")
                                include includes/folder
                    .well.tab-pane.fade(id="stats")
                        p Оценки:
                        ul
                            li.positive Положительные: {{user.marks.positive}}
                                .progress.progress-striped.active
                                    .progress-bar(style='width: {{user.marks.positive/(user.marks.positive+user.marks.neitral+user.marks.negative)*100}}%')
                            li.neitral Нейтральные: {{user.marks.neitral}}
                                .progress.progress-striped.active
                                    .progress-bar(style='width: {{user.marks.neitral / (user.marks.positive + user.marks.neitral + user.marks.negative) * 100}}%')
                            li.negative Отрицательные: {{user.marks.negative}}
                                .progress.progress-striped.active
                                    .progress-bar(style='width: {{user.marks.negative / (user.marks.positive + user.marks.neitral + user.marks.negative) * 100}}%')
                        p.rating Рейтинг: #{user_info.rating}
                        div(ng-controller="StatsCtrl")
                            div.chart-container Активность размещения заданий
                                include includes/dateFilter
                                div(drawing,  url="/stats/ordersperdate")
                        div(ng-controller="StatsCtrl")
                            div.chart-container Активность выполнения заданий
                                include includes/dateFilter
                                div(drawing,  url="/stats/worksperdate")
                    .well.tab-pane.fade(id="reviews", ng-init="getReviews()")
                        .review.clearfix(ng-repeat="review in reviews")
                            include includes/review

            include includes/top

block additional_scripts
    script(src="/js/controllers/portfolio.js")
    script(src="/libs/Chart.js/dist/Chart.js")
    script(src="/js/controllers/stats.js")
    script.
        access = #{access}


