extends layout
block additional_styles
    link(rel="stylesheet",href="/css/main.css")
block content
    - function getDiffBetweenDates(dateString) {
    - var date1 = new Date();
    - var date2 = new Date(dateString);
    - var timeDiff = Math.abs(date2.getTime() - date1.getTime());
    - var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
    - return (diffDays)
    - }
    include includes/navbar
    include mixins/genGroupField
    .container-fluid(ng-controller="PortfolioCtrl",ng-init="user= #{JSON.stringify(user_info)}; works= #{JSON.stringify(works)}")
        .row
            include includes/messages
            .col-lg-6
                ul.nav.nav-tabs(id="tabs")
                    li.active
                        a(href='#profile',data-toggle="tab") Профиль
                    li
                        a(href='#portfolio',data-toggle="tab") Портфолио
                    li
                        a(href='#stats',data-toggle="tab") Статистика
                .tab-content
                    .well.tab-pane.active(id="profile")
                        form.form-horizontal(ng-submit="submitUser()")
                            fieldset
                                 input.form-control(type="hidden" name="_id",value="{{user._id}}")
                                 +genGroupField('name','Имя','',"user.name")(tag='input')
                                 +genGroupField('login','Логин','',"user.login")(tag='input')
                                 +genGroupField('email','E-mail','',"user.email")(tag='input')
                                 +genGroupField('about','О себе','',"user.about")(tag='textarea')
                                 button(class="btn btn-primary",type="submit") Сохранить
                        p Количество дней на сайте:  #{getDiffBetweenDates(user_info.created)}
                    .well.tab-pane.fade(id="portfolio")
                        span(id="addwork") Добавить в портфолио
                        i.fa.fa-caret-down
                        form(ng-submit="submitWork()",id="upload", enctype="multipart/form-data")
                            input.form-control(type="text", name="name", placeholder="Название")
                            textarea.form-control(type="text", name="description", placeholder="Описание")
                            input(type="hidden",name="user", value='#{user_info._id}')
                            input.form-control(type="file",name="files",multiple)
                            button.btn.btn-sm.btn-default(type="submit") Добавить
                        .row
                            .col-lg-4(ng-repeat="work in works")
                                include includes/folder
                    .well.tab-pane.fade(id="stats")
                        ul
                            li.positive Положительные оценки: {{user.marks.positive}}
                            li.neitral Нейтральные оценки: {{user.marks.neitral}}
                            li.negative Отрицательные оценки: {{user.marks.negative}}
                        p.rating Рейтинг: {{user_info.rating}}
            include includes/last_tasks

block additional_scripts
    script(src="/js/user.js")
    script(src="/js/controllers/portfolio.js")
    script.
        access = #{access}


